@font-face {
    src: url("../font/Poppins/Poppins-Light.ttf");
    src: url("../font/Poppins/Poppins-Medium.ttf");
}

.root{
    -fx-font-size: 12px;
    -fx-font-family: "Poppins Light";
    -fx-background: white;
    -fx-text-fill: rgb(90, 97, 105);
    -fx-focus-color: #006fe6;
    -fx-accent: #006fe6;
}

.button{
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-background-color: #006fe6;
    -fx-background-radius: 6;
}

.label {
    -fx-text-fill: rgb(90, 97, 105);
}

.choice-box, .text-field {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: rgb(190, 202, 214);
    -fx-border-radius: 6;
}

/* Selected item text color on the control itself */
.choice-box > .label { -fx-text-fill: rgba(0,0,0,0.9); }
/* Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: white; }
/* Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: #006fe6; }
/* Text color of non-focused items in the list */
.choice-box .menu-item > .label { -fx-text-fill: rgba(0,0,0,0.9); }
/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.btn-card {
    -fx-background-radius: 12;
}

.btn-card .label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.btn-card .btn-card-label-main {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 17px;
}

.h1 {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 2.5em;
    -fx-text-fill: rgb(33, 37, 41);
}

.table-view {
    -fx-background-color: white;
}

.table-view:focused {
    -fx-background-color: #006fe6;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: #006fe6;
    -fx-text-fill: white;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.btn-big-action {
    -fx-font-size: 16px;
    -fx-padding: 10 16 10 16;
}

.btn-primary {
  -fx-background-color: #006fe6;
}

.btn-secondary {
  -fx-background-color: #5A6169;
}

.btn-success {
  -fx-background-color: #17c671;
}

.btn-info {
  background-color: #00b8d8;
}

.btn-warning {
  background-color: #ffb400;
}

.btn-danger {
  -fx-border-color: #c4183c;
  -fx-background-color: #c4183c;
}

.btn-light {
  -fx-background-color: #e9ecef;
}

.btn-dark {
  -fx-background-color: #212529;
}

.btn-white {
  -fx-background-color: #fff;
}

.btn-black {
  -fx-background-color: #000;
}


.text-primary {
  -fx-text-fill: #007bff;
}

a.text-primary:hover, a.text-primary:focus {
  -fx-text-fill: #0062cc;
}

.text-secondary {
  -fx-text-fill: #5A6169;
}

a.text-secondary:hover, a.text-secondary:focus {
  -fx-text-fill: #42484e;
}

.text-success {
  -fx-text-fill: #17c671;
}

a.text-success:hover, a.text-success:focus {
  -fx-text-fill: #129857;
}

.text-info {
  -fx-text-fill: #00b8d8;
}

a.text-info:hover, a.text-info:focus {
  -fx-text-fill: #008da5;
}

.text-warning {
  -fx-text-fill: #ffb400;
}

a.text-warning:hover, a.text-warning:focus {
  -fx-text-fill: #cc9000;
}

.text-danger {
  -fx-text-fill: #c4183c;
}

a.text-danger:hover, a.text-danger:focus {
  -fx-text-fill: #97122e;
}

.text-light {
  -fx-text-fill: #e9ecef;
}

a.text-light:hover, a.text-light:focus {
  -fx-text-fill: #cbd3da;
}

.text-dark {
  -fx-text-fill: #212529;
}

a.text-dark:hover, a.text-dark:focus {
  -fx-text-fill: #0a0c0d;
}

a.text-white:hover, a.text-white:focus {
  -fx-text-fill: #e6e6e6;
}

.text-black {
  -fx-text-fill: #000;
}

a.text-black:hover, a.text-black:focus {
  -fx-text-fill: black;
}

.text-muted {
  -fx-text-fill: #868e96;
}
