@font-face {
    src: url("../font/Poppins/Poppins-Light.ttf");
    src: url("../font/Poppins/Poppins-Medium.ttf");
}

.root{
    -fx-font-size: 12px;
    -fx-font-family: "Poppins Light";
/*    -fx-base: #006fe6;*/
    -fx-background: white;
    -fx-text-fill: rgb(90, 97, 105);
}

.button{
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-background-color: #006fe6;
}

.label {
    -fx-text-fill: rgb(90, 97, 105);
}

.choice-box {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: rgb(190, 202, 214);
    -fx-border-radius: 6;
}

/* Selected item text color on the control itself */
.choice-box > .label { -fx-text-fill: rgba(0,0,0,0.9); }
/* Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: white; }
/* Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: #006fe6; }
/* Text color of non-focused items in the list */
.choice-box .menu-item > .label { -fx-text-fill: rgba(0,0,0,0.9); }
/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }


.btn-card {
    -fx-background-radius: 12;
}

.btn-card .label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.btn-card .btn-card-label-main {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 17px;
}

.h1 {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 2.5em;
    -fx-text-fill: rgb(33, 37, 41);
}

.table-view {
    -fx-background-color: white;
}

.table-view:focused {
    -fx-background-color: #006fe6;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: #006fe6;
    -fx-text-fill: white;
}




.btn-primary {
  -fx-text-fill: #fff;
  -fx-background-color: #006fe6;
}

.btn-secondary {
  color: #fff;
  border-color: #5A6169;
  -fx-background-color: #5A6169;
}

.btn-success {
  color: #fff;
  border-color: #17c671;
  -fx-background-color: #17c671;
}

.btn-info {
  color: #fff;
  border-color: #00b8d8;
  background-color: #00b8d8;
}

.btn-warning {
  color: #212529;
  border-color: #ffb400;
  background-color: #ffb400;
}

.btn-danger {
  color: #fff;
  border-color: #c4183c;
  -fx-background-color: #c4183c;
}

.btn-light {
  color: #212529;
  border-color: #e9ecef;
  -fx-background-color: #e9ecef;
}

.btn-dark {
  color: #fff;
  border-color: #212529;
  -fx-background-color: #212529;
}

.btn-white {
  color: #212529;
  border-color: #fff;
  -fx-background-color: #fff;
}

.btn-black {
  color: #fff;
  border-color: #000;
  -fx-background-color: #000;
}


.text-primary {
  color: #007bff !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #0062cc !important;
}

.text-secondary {
  color: #5A6169 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #42484e !important;
}

.text-success {
  color: #17c671 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #129857 !important;
}

.text-info {
  color: #00b8d8 !important;
}

a.text-info:hover, a.text-info:focus {
  color: #008da5 !important;
}

.text-warning {
  color: #ffb400 !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #cc9000 !important;
}

.text-danger {
  color: #c4183c !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #97122e !important;
}

.text-light {
  color: #e9ecef !important;
}

a.text-light:hover, a.text-light:focus {
  color: #cbd3da !important;
}

.text-dark {
  color: #212529 !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #0a0c0d !important;
}

a.text-white:hover, a.text-white:focus {
  color: #e6e6e6 !important;
}

.text-black {
  color: #000;
}

a.text-black:hover, a.text-black:focus {
  color: black !important;
}

.text-muted {
  color: #868e96 !important;
}
